In [2]:
#Vesão do python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook: ', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook:  3.9.2

In [3]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
#!pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark.
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
#!pip install -q -U watermark

In [40]:
# Importando o módulo Pandas
import pandas as pd
import watermark
import numpy as np

In [5]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "John Costa" --iversions

Author: John Costa

pandas   : 1.5.0
sys      : 3.9.2 (tags/v3.9.2:1a79785, Feb 19 2021, 13:44:55) [MSC v.1928 64 bit (AMD64)]
watermark: 2.3.1

# Operações com Series

In [6]:
# Lista de listas (matriz)
matriz = [[9, 4, 3], [2, 6, 1], [7, 5, 8]]

In [7]:
matriz

[[9, 4, 3], [2, 6, 1], [7, 5, 8]]

In [8]:
df = pd.DataFrame(matriz)

In [9]:
df

   0  1  2
0  9  4  3
1  2  6  1
2  7  5  8

In [10]:
# tipo do objeto
type(df)

pandas.core.frame.DataFrame

In [11]:
# Extrai a linha de índice 0
linha = df.iloc[0, :]

In [12]:
type(linha)

pandas.core.series.Series

In [13]:
# Extra a coluna de índice 0
coluna = df[0]

In [14]:
type(coluna)

pandas.core.series.Series

In [15]:
# Cria uma série
serie_pandas = pd.Series(['a', 'b', 'c', 'd', 'e'])

In [16]:
serie_pandas

0    a
1    b
2    c
3    d
4    e
dtype: object

In [17]:
serie_pandas.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
# visualiza os valor
serie_pandas.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [19]:
# visualiza o tipo dos dados
serie_pandas.dtypes

dtype('O')

In [20]:
# Visualiza o shape
serie_pandas.shape

(5,)

Podemos ter uma série com dados de tipos diferentes?

In [21]:
serie_pandas = pd.Series(['a', 'b', 'c', 10, True], index=[10, 20, 30, 40, 50])

In [22]:
serie_pandas.index

Int64Index([10, 20, 30, 40, 50], dtype='int64')

In [23]:
serie_pandas.dtypes

dtype('O')

In [24]:
# visualiza os valores
serie_pandas.values

array(['a', 'b', 'c', 10, True], dtype=object)

In [25]:
serie_pandas = pd.Series(['a', 'b', 'c', 10, True])

In [26]:
serie_pandas.dtypes

dtype('O')

In [27]:
print(serie_pandas[0])

a

In [30]:
type(serie_pandas[0])

str

In [29]:
print(serie_pandas[3])

10

In [31]:
type(serie_pandas[3])

int

In [32]:
print(serie_pandas[4])

True

In [33]:
type(serie_pandas[4])

bool

In [34]:
resultado = serie_pandas[3] + 1

In [35]:
print(resultado)

11

In [36]:
# Porque esta célula gera erro?
# resultado = serie_pandas[2] + 1

TypeError: can only concatenate str (not "int") to str

In [37]:
lista = ['Data', 'Schience', 'Academy']

In [38]:
serie_pandas = pd.Series(lista)

In [39]:
print(serie_pandas)

0        Data
1    Schience
2     Academy
dtype: object

In [43]:
dicionario = {'a': 'Data', 'b': 'Science', 'c': 'Academy'}

In [44]:
serie_pandas = pd.Series(dicionario)

In [45]:
print(serie_pandas)

a       Data
b    Science
c    Academy
dtype: object

In [41]:
# Cria um array Numpy
arr = np.random.randint(0, 10, size = 5)

In [42]:
print(arr)

[6 6 8 2 8]

In [46]:
serie_pandas = pd.Series(arr)

In [47]:
print(serie_pandas)

0    6
1    6
2    8
3    2
4    8
dtype: int32

In [48]:
serie_pandas = pd.Series({1: 'data', 2: 'science'})

In [49]:
serie_pandas

1       data
2    science
dtype: object

In [50]:
print(serie_pandas[1])

data

In [53]:
serie_pandas = pd.Series([1, 2, 3, 4, 5])

In [54]:
print(serie_pandas)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [51]:
serie_pandas = pd.Series([1, 2, 3, 4, 5], dtype= 'float')

In [52]:
print(serie_pandas)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [55]:
serie_pandas = pd.Series(['Azul', 'Amarelo', 'Azul', 'Branco', 'Branco', 'Verde', 'Azul'])

In [57]:
print(serie_pandas.unique())

['Azul' 'Amarelo' 'Branco' 'Verde']

In [58]:
print(serie_pandas.nunique())

4

In [59]:
serie_pandas = pd.Series([201, 323, 17, 97, 43, 9, 26, 4])

In [60]:
print(serie_pandas.nlargest(n = 3))

1    323
0    201
3     97
dtype: int64

In [61]:
print(serie_pandas.nsmallest(n = 3))

7     4
5     9
2    17
dtype: int64

In [62]:
serie_pandas = pd.Series(['Azul', 'Amarelo', 'Azul', 'Branco', 'Branco', 'Verde', 'Azul'])

In [63]:
print(serie_pandas.value_counts())

Azul       3
Branco     2
Amarelo    1
Verde      1
dtype: int64

In [65]:
serie_pandas = pd.Series([1, 2, 3, np.nan, np.nan])

In [67]:
print(serie_pandas.isna())

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [68]:
print(serie_pandas.sum())

6.0

In [69]:
print(serie_pandas.count())

3

In [77]:
serie_pandas = pd.Series([1, 2, 3, 4])

In [78]:
# Igual
print(serie_pandas.eq(3))

0    False
1    False
2     True
3    False
dtype: bool

In [72]:
# Maior que
print(serie_pandas.gt(2))

0    False
1    False
2     True
3     True
dtype: bool

In [73]:
serie_pandas = pd.Series([56, 34, 68, 21, 49])

In [74]:
print(serie_pandas.mean())

45.6

In [75]:
# Agregação
print(serie_pandas.agg(['mean', 'median', 'sum', 'count']))

mean       45.6
median     49.0
sum       228.0
count       5.0
dtype: float64

# Fim